/* Base styles */
body {
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  color: #584563;
  font-weight: bold;
  margin-bottom: 12px;
}

h1 {
  text-align: center;
  font-size: 32px;
}

h2 {
  font-size: 18px;
}

/* Navbar styles */
.nav {
  top: 0px;
  background-color: #fff;
  backdrop-filter: blur(10px);
  position: sticky;
  opacity: 85%;
  transition: 0.4s;
  z-index: 1;
}

.nav:hover {
  top: 0px;
  background-color: #fff;
  opacity: 100%;
  box-shadow: -2px -2px 4px rgba(255,255,255,0.5),
              2px 2px 4px rgba(70,70,70,0.12);
}

.link-item {
  color: #584563;
}

.logo {
  height: 50px;
  padding: 6px;
}

/* Events styles */
.events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  margin: 20px 50px 0 50px; 
}

.events-section {
  flex: 1;
  background: #f9f9fa;
  padding: 30px; 
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.event-card {
  width: 22rem;
  margin: 1rem;
  border: none;
  border-radius: 7px;
  overflow: hidden;
  background: white;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  transition: transform .2s, box-shadow .2s; 
}

.event-card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-card .card-img-top {
  width: 100%;
  border-top-left-radius: 5px; 
  border-top-right-radius: 5px;
  display: block;
}

.event-card .card-body {
  padding: 1rem;
}

.event-card .card-body header {
  margin-bottom: 1rem;
}

.event-card .card-body .event-title {
  margin: 0;
  font-size: 1.5rem;
}

.event-card .card-body .description {
  margin: 0 0;
}

.event-card .card-body .date {
  margin: 0rem 0 0rem 0;
}

.event-title {
  color: #584563;
}

@media (max-width: 600px) {
  .event-card {
    width: 90%;
  }

  .events-section {
    background: transparent;
    padding: 0px; 
    border-radius: 0px;
    box-shadow: none;
  }
}

/* Orders styles */
.orders-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  gap: 20px;
  margin: 20px 50px 0 50px; 
  overflow-y: auto;
  height: 90vh;
}

.orders-section {
  flex: 1.5;
  background: #f9f9fa;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  overflow-y: auto;
  height: 85vh;
}

.order-card {
  background: white;
  border: none;
  margin: 15px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform .2s, box-shadow .2s;
  position: relative;
  overflow: hidden; 
  padding: 0px;
  padding-left: 30px;
}

.order-card::before,
.order-card::after {
  content: "";
  display: block;
  width: 15px; 
  height: 30px;
  position: absolute;
  top: 50%;
  background: #f9f9fa;
  border-radius: 50%;
  border: none;
  transform: translateY(-50%);
  z-index: 1;
}

.order-card::before {
  left: -8px;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
}

.order-card::after {
  right: -8px;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
}

.order-card:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.order-card .card-body {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-card .card-body header {
  margin-bottom: 0.1rem;
}

.order-card .card-body .event-title {
  margin: 0;
  font-size: 1.2rem;
}

.order-card .card-body .description {
  margin: 0 0;
}

.order-card .card-body .date {
  margin: 0rem 0 0rem 0;
}

.details-section {
  flex-shrink: 0;
}

.edit-section {
  height: 100vh; 
  overflow-y: hidden;
  position: sticky;
  top: 0;
  flex: 2; 
  background: #f9f9fa;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  height: 85vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
}

.edit-section img {
  margin-bottom: 20px;
}

.edit-section-title {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 2rem; 
  font-weight: bold;
}

@media (max-width: 950px) {
  .orders-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;   
    flex-direction: column-reverse;  
    gap: 20px;
    margin: 20px 50px 0 50px;
  }
  
  .orders-section, .edit-section {
    width: 95%; 
    flex: 2;
    margin: 0 auto 20px auto; 
  }
  
  .orders-section {
    flex: 1;
    background: transparent;
    padding: 0px;
    box-shadow: none;
  }
  
  .edit-section {
    flex: 1;
  } 

  .order-card::before,
  .order-card::after {
    content: "";
    display: block;
    width: 15px; 
    height: 30px;
    position: absolute;
    top: 50%;
    background: #f9f9fa;
    border-radius: 50%;
    border: none;
    transform: translateY(-50%);
    z-index: 1;
}
}

/* Button styles */
.add-button {
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 7px;
  background-color: #8c8fae; 
  color: #fff;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  transition: background-color .5s, box-shadow .5s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.add-button:hover {
  background-color: #584563;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.add-button:disabled {
  background-color: #f1f1f1; 
  color: #fff; 
  cursor: not-allowed; 
  pointer-events: none; 
  box-shadow: none;
}

.incrementer-container {
  display: flex;             
  align-items: center;     
}

.quantity-button {
  padding: 0.5rem 0.5rem;
  border-radius: 7px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
}

.quantity-button:hover {
  background-color: #f0f0f0;
}

.quantity-input {
  text-align: right;
  margin: 0 0.5rem; 
}

.button-group {
  display: flex;
  margin-right: 2rem;
  flex-shrink: 0;
}

.update-button,
.delete-button {
  padding: 0.5rem 0.5rem;
  border-radius: 7px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
}

.update-button:hover {
  background-color: #f0f0f0;
}

.delete-button {
  border-color: red;
  color: red;
}

.delete-button:hover {
  background-color: #fee7e7;
}

/* Miscellaneous styles */
.order-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.25rem 0rem 1.25rem 0rem;
}

.purchase-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-content-component {
  margin-bottom: 40px;
}

.total-price {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #584563;
}

.events {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}