/* Base styles */
body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #584563;
}

/* Navbar styles */
.nav {
  top: 0px;
  background-color: #fff;
  backdrop-filter: blur(10px);
  position: sticky;
  opacity: 85%;
  transition: 0.4s;
  z-index: 1;
}

.nav:hover {
  top: 0px;
  background-color: #fff;
  opacity: 100%;
  box-shadow: -2px -2px 4px rgba(255,255,255,0.5),
              2px 2px 4px rgba(70,70,70,0.12);
}

.link-item {
  color: #584563;
}

.logo {
  height: 50px;
  padding: 6px;
}

/* Events styles */
.events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  margin: 20px 50px 0 50px; 
}

.events-section {
  flex: 1;
  background: #f9f9fa;
  padding: 30px; 
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.event-card {
  width: 25rem;
  margin: 1rem;
  border: none;
  border-radius: 7px;
  overflow: hidden;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform .2s, box-shadow .2s; 
}

.event-card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-card .card-img-top {
  width: 100%;
  border-top-left-radius: 5px; 
  border-top-right-radius: 5px;
  display: block;
}

.event-card .card-body {
  padding: 1rem;
}

.event-card .card-body header {
  margin-bottom: 1rem;
}

.event-card .card-body .event-title {
  margin: 0;
  font-size: 1.5rem;
}

.event-card .card-body .description {
  margin: 0 0;
}

.event-card .card-body .date {
  margin: 0rem 0 0rem 0;
}

.event-title {
  color: #584563;
}

@media (max-width: 600px) {
  .event-card {
    width: 90%;
  }

  .events-section {
    background: transparent;
    padding: 0px; 
    border-radius: 0px;
    box-shadow: none;
  }
}

/* Orders styles */
.orders-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  gap: 20px;
  margin: 20px 50px 0 50px; 
  overflow-y: auto;
  height: 90vh;
}

.orders-section {
  flex: 3;
  background: #f9f9fa;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  overflow-y: auto;
  height: 85vh;
}

.order-card {
  background: white;
  border: none;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform .2s, box-shadow .2s; 
}

.order-card:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.order-card .card-body {
  padding: 1rem;
}

.order-card .card-body header {
  margin-bottom: 0.25rem;
}

.order-card .card-body .event-title {
  margin: 0;
  font-size: 1.25rem;
}

.order-card .card-body .description {
  margin: 0 0;
}

.order-card .card-body .date {
  margin: 0rem 0 0rem 0;
}

.cart-section {
  height: 100vh; 
  overflow-y: hidden;
  position: sticky;
  top: 0;
  flex: 2; 
  background: #f9f9fa;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  height: 85vh;
  overflow-y: auto;
}

@media (max-width: 800px) {
  .orders-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;   
    flex-direction: column-reverse;  
    gap: 20px;
    margin: 20px 50px 0 50px;
  }
  
  .orders-section, .cart-section {
    width: 95%; 
    flex: 2;
    margin: 0 auto 20px auto; 
  }
  
  .orders-section {
    flex: 1;
  }
  
  .cart-section {
    flex: 1;
  } 
}

/* Button styles */
.add-button {
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
  background-color: #8c8fae; 
  color: #fff;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  transition: background-color .5s, box-shadow .5s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.add-button:hover {
  background-color: #584563;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.add-button:disabled {
  background-color: #f1f1f1; 
  color: #fff; 
  cursor: not-allowed; 
  pointer-events: none; 
  box-shadow: none;
}

.quantity-button {
  padding: 0.1rem 0.6rem; 
  border: none;
  border-radius: 7px;
  background-color: #f2f2f2;  
  color: #333;  
  text-decoration: none;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  transition: background-color .2s, box-shadow .2s;
  box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.1);  
  font-weight: bold;
}

.quantity-button:hover {
  background-color: #f5f5f5; 
}

.quantity-input {
  text-align: right;
}

/* Miscellaneous styles */
.order-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.25rem 0rem 1.25rem 0rem;
}

.purchase-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-content-component {
  margin-bottom: 40px;
}

.total-price {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #584563;
}

.events {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
